[project]
	description = Ruby toolkit for the GitHub API
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brett (mbrettburnside85)
[access "refs/for/refs/*"]
	read = group user/Brett (mbrettburnside85)
	push = group user/Brett (mbrettburnside85)
	label-Code-Review = -2..+2 group user/Brett (mbrettburnside85)
	label-Verified = -1..+1 group user/Brett (mbrettburnside85)
	rebase = group user/Brett (mbrettburnside85)
	removeReviewer = group user/Brett (mbrettburnside85)
	submit = group user/Brett (mbrettburnside85)
[access "refs/heads/*"]
	read = group user/Brett (mbrettburnside85)
	create = group user/Brett (mbrettburnside85)
	push = +force group user/Brett (mbrettburnside85)
	pushMerge = group user/Brett (mbrettburnside85)
[access "refs/tags/*"]
	push = group user/Brett (mbrettburnside85)
	push = +force group user/Brett (mbrettburnside85)
